body {
  background-color: #79a6d2;
}

.scoreboard {
  text-align: center;
}

.outcome {
  text-align: center;
}

.btn-options {
  text-align: center;
}

.p-score,
.c-score,
.colon {
  display: inline;
}
